[Unit]
Description=dARts.py E-Dart Kopplungs service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/patrick/projects/dARts/python
ExecStart=/usr/bin/python3 /home/patrick/projects/dARts/python/dARts.py

[Install]
WantedBy=multi-user.target
